@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-size: 14px;
    font-weight: 400;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px){
    body{
    background-image: url("../images/bg-desktop.png");
    }
    .remainingStorageDiv::after{
      content:" ";
      position: absolute;
      bottom: -1.2em;
      right: 0;
      width: 0;
      height: 0;
      border-top: 1.8em solid white;
      border-left: 1.8em solid transparent;
      z-index: 100;
    }
}
